<div class="container">
    <div class="content1">
        <h1><span>"App Development"</span> is suitable for you!</h1>
        <p><em>"<span>Hooray!</span>As per your selection, your heart🖤 says,
                Appdevelopment related courses are suitable for
                you"
                This is the future development field for the upcoming years.
                If you push yourself towards this field, then
                your career become so miracle.
                This field must have the hype for next 10 years and then also.
            </em>
        </p>
    </div>
    <div class="content">
        <h1><u>Details of Career</u></h1>
        <div class="description">
            <h3>job description</h3>
            <p>Application development is the process of creating a computer program or a set of programs to perform the
                different tasks that a business requires.From calculating monthly expenses to scheduling sales reports,
                applications help businesses automate processes and increase efficiency.</p>
            <p>An application developer's typical responsibilities include coding, designing, application management,
                troubleshooting, monitoring updates and possible security threats, and providing end user support. They
                may also handle some project management tasks on the journey to building a new application.</p>
            <h3>Skills required</h3>
            <ul>
                <li>Programming language skills</li>
                <li>Computer proficiency</li>
                <li>Back-end computing</li>
                <li>User Interface(UI)Design</li>
                <li>Cybersecurity skills</li>
                <li>Internet of things</li>

            </ul>
            <h3>Salary</h3>
            <p>₹511,570/ year
            </p>
            <h3>companies</h3>
            <ul>
                <li>Algoworks</li>
                <li>Hyperlink Infosystem</li>
                <li>TechAhead</li>
                <li>Appinventiv</li>
                <li>Indus Net Technologies</li>
            </ul>
        </div>
    </div>


</div>

<app-footer></app-footer>