<div class="container">
    <div class="content1">
        <h1><span>"Web Development"</span> is suitable for you!</h1>
        <p><em>"<span>Hooray!</span>As per your selection, your heart🖤 says,
                webdevelopment related courses are suitable for
                you"
                This is the future development field for the upcoming years.
                If you push yourself towards this field, then
                your career become so miracle.
                This field must have the hype for next 10 years and then also.
            </em>
        </p>
    </div>
    <div class="content">
        <h1><u>Details of Career</u></h1>
        <div class="description">
            <h3>job description</h3>
            <p>A Web Developer is a professional who is responsible for the design and construction of websites. They
                ensure that sites meet user expectations by ensuring they look good, run smoothly and offer easy access
                points with no loading issues between pages or error messages.</p>
            <p>This Web Developer job description sample template is optimized for advertising for a website developer
                on online job boards or careers pages. It is easy to customize with key duties and responsibilities.
                Feel free to modify this posting to a web designer job description, or for your specific needs.</p>
            <h3>Skills required</h3>
            <ul>
                <li>User experience (UX)</li>
                <li>user interface(UI)</li>
                <li>visual design</li>
                <li>Coding languages including HTML and CSS</li>
                <li>Frontend web programing languages and skills such as JavaScript, Ajax and web animation techniques
                </li>
                <li>Backend web programing languages such as C# or Java, PHP and Ruby</li>

            </ul>
            <h3>Salary</h3>
            <p>₹321,081/ year</p>
            <h3>companies</h3>
            <ul>
                <li>Capgemini India Pvt ltd</li>
                <li>Zensar Technologies</li>
                <li>Mphasis.</li>
                <li>WillowTree Apps</li>
                <li>Tata Consultancy Services</li>
                <li>Infosys</li>
                <li>Tech Mahindra</li>
                <li>HData Systems.</li>
            </ul>
        </div>
    </div>


</div>

<app-footer></app-footer>