<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <ul>
        <li style="float:left" class="content">
            <!-- <i class="fa-solid fa-circle-bolt"></i> -->
            <img src="../../images/skyblue lion.png" height="50px" width="50px">
            <h1><i>Lion's Academy</i></h1>
        </li>
        <li><button><a routerLink="login" routerLinkActive="active"><img src="../../images/user.png"></a></button>
        </li>

        <!-- <li><a href="#home" class="active">Home</a></li> -->
        <li><a class="a1" routerLink="signup" routerLinkActive="active"><img src="../../images/sign-up.png"></a>
        <li><a class="a1" routerLink="admin" routerLinkActive="active"><img src="../../images/admin.png"></a>

        </li>
        <li><a class="a1" routerLink="contact" routerLinkActive="active"><img src="../../images/contact-us.png"></a>
        </li>
        <!-- <li><a class="a1" routerLink="partnerships" routerLinkActive="active"><img
                    src="../../images/partnership.png"></a></li> -->
        <li><a class="a1" routerLink="bookery" routerLinkActive="active"><img src="../../images/open-book.png"></a></li>
        <!-- <li><a class="a1" routerLink="dashboard" routerLinkActive="active"><img src="../../images/admin.png"></a> -->
        <li><a class="a1" routerLink="solution" routerLinkActive="active"><img src="../../images/bulb.png"></a>
        </li>

        <li><a class="a1" routerLink="about" routerLinkActive="active"><img
                    src="../../images/information-button.png"></a></li>
        <!-- <li><a href="tel:555-555-5555"><img src="../../images/red-home.png" /></a></li> -->
        <!-- <li><a href="mailto:someone@example.com">Send email</a></li> -->


        <li><a class="a1" routerLink="home" routerLinkActive="active"><img src="../../images/home.png"></a></li>

    </ul>


</body>

</html>