<!DOCTYPE html>
<html>

<body>

    <ul>
        <li style="float:left" class="content">
            <img src="../../images/pngwing.com (1).png" height="50px" width="50px">
            <h1>Career Planning</h1>
        </li>
        <li><button><a routerLink="login" routerLinkActive="active">Login</a></button></li>

        <!-- <li><a href="#home" class="active">Home</a></li> -->
        <li><a class="a1" routerLink="signup" routerLinkActive="active">Signup</a></li>
        <li><a class="a1" routerLink="contact" routerLinkActive="active">Contact</a></li>
        <li><a class="a1" routerLink="partnerships" routerLinkActive="active">Partnerships</a></li>
        <li><a class="a1" routerLink="bookery" routerLinkActive="active">Bookery</a></li>
        <li><a class="a1" routerLink="solution" routerLinkActive="active">Solution</a></li>
        <li><a class="a1" routerLink="about" routerLinkActive="active">About</a></li>
        <li><a class="a1" routerLink="home" routerLinkActive="active">Home</a></li>

    </ul>

</body>

</html>