@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'PT Serif', serif;
    background-color: black;
}

.content {
    display: flex;
    align-items: center;
}

.content img {
    height: 50px;
    width: 50px;
    padding: none;
}

.content h1 {
    font-weight: 800;
}

ul {
    position: relative;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-weight: 400;
    height: 60px;
    box-shadow: 2px 2px 10px black;
}

li {
    float: right;
}

h1 {
    font-size: 30px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Pacifico', cursive;

    color: rgb(57, 170, 214);
    text-shadow: 2px 2px 10px rgb(57, 170, 214);

    font-weight: 700;
    padding: 10px;
    /* font-family: 'Dancing Script', cursive; */
}

li a {
    display: block;
    /* color: rgb(252, 249, 249); */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 800;
    /* font-size: 20px; */
    background-color: transparent;
    color: skyblue;
    text-shadow: 2px 2px 10px skyblue;



    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Pacifico', cursive;


}


li a:hover {
    /* background-color: rgb(171, 224, 245); */
    color: red;
    text-shadow: 2px 2px 15px red;


}

li .active {
    /* background-color: yellow; */
    /* border-bottom: solid yellow 5px; */

    color: yellow;
    text-shadow: 2px 2px 10px yellow;
    /* border: solid skyblue; */
    /* border-radius: 50px; */

}

button {
    /* width: 120px; */
    border: none;
    padding: 0px;
    background-color: rgb(17, 15, 15);
    color: white;
}