<!DOCTYPE html>
<html lang="en">

<head>
    <title>Navbar</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <ul>
        <li style="float:left" class="content">
            <img src="../../images/icons8-uchiha-eyes-50.png" height="50px" width="50px" alt="eye">
            <h1>VISION</h1>
        </li>
        <li><a class="a1" routerLink="signup" routerLinkActive="active">Signup</a></li>
        <li><a class="a1" routerLink="login" routerLinkActive="active">Login</a></li>
        <li><a class="a1" routerLink="contact" routerLinkActive="active">Contact</a></li>
        <li><a class="a1" routerLink="bookery" routerLinkActive="active">Bookery</a></li>
        <li><a class="a1" routerLink="solution" routerLinkActive="active">Solution</a></li>
        <li><a class="a1" routerLink="about" routerLinkActive="active">About</a></li>
        <li><a class="a1" routerLink="home" routerLinkActive="active">Home</a></li>


        <!-- <li><button><a routerLink="login" routerLinkActive="active"><img src="../../images/user.png"></a></button>
        </li>

        <li><a class="a1" routerLink="signup" routerLinkActive="active"><img src="../../images/sign-up.png"></a>
        <li><a class="a1" routerLink="admin" routerLinkActive="active"><img src="../../images/admin.png"></a>

        </li>
        <li><a class="a1" routerLink="contact" routerLinkActive="active"><img src="../../images/contact-us.png"></a>
        </li>
        <li><a class="a1" routerLink="webdev" routerLinkActive="active"><img src="../../images/contact-us.png"></a>
        </li>
        <li><a class="a1" routerLink="bookery" routerLinkActive="active"><img src="../../images/open-book.png"></a></li>
        <li><a class="a1" routerLink="dtsci" routerLinkActive="active"><img src="../../images/open-book.png"></a></li>
        <li><a class="a1" routerLink="solution" routerLinkActive="active"><img src="../../images/bulb.png"></a>
            <li><a class="a1" routerLink="mobdev" routerLinkActive="active"><img src="../../images/bulb.png"></a>
            </li>

        <li><a class="a1" routerLink="about" routerLinkActive="active"><img
                    src="../../images/information-button.png"></a></li>
        <li><a href="mailto:someone@example.com">Send email</a></li>


        <li><a class="a1" routerLink="home" routerLinkActive="active"><img src="../../images/home.png"></a></li>
        <li><a class="a1" routerLink="appdev" routerLinkActive="active"><img src="../../images/home.png"></a></li> -->

    </ul>


</body>

</html>