<div class="con">
    <div class="container">
        <h1><i>Solution</i></h1>

    </div>
    <div class="content">
        <img src="../../images/career.gif">
        <p>Confused? Or Stuck between choose your life changeing career?...just chill and Find your <span>career</span>
            With
            us by
            taking our career<span>evaluation</span>test and
            <span>Realize</span> Who You
            Are?
            <button [routerLink]="['/login']">Lets start here</button>

    </div>
</div>
<app-footer></app-footer>