<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1><i>About</i></h1>
        <div class="about">
            <div class="content">
                <img src="../../images/lion-about.jpg">
                <div class="inside">
                    <blockquote>
                        <p>
                            Education seekers get a personalized experience on our site,
                            based on educational background and career interest, enabling them to make well informed
                            course and career decisions.
                            The decision making is empowerd wih easy access to detailed information on career
                            choices,courses,exams,colleges,admission criteria,eligiblity,placement
                            ststistics,rankings,reviews,scholarships,latest updates etc as well as by interacting with
                            other lion's academy users,experts,current students in colleges and alumini groups.we have
                            introduced several student oriented products and tools like career prediction,knowledge
                            network,daily bytes, logs,community discusiion forum, and various courses.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>


</body>

</html>
<app-footer></app-footer>