.contact {
    background-color: rgb(176, 227, 247);
    /* background-color: rgb(248, 156, 146); */
    max-width: 1900px;
    min-height: 300vh;
    overflow: hidden;
}

.contact h1 {
    padding-top: 30px;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px black;
    text-transform: uppercase;

}

.contact img {
    height: 400px;
    width: 100%;
    /* box-shadow: 2px 2px 50px black; */
}

.contact p {
    font-size: 30px;
    font-weight: 500;
    /* padding: 40px; */
    /* background-color: skyblue; */
    border-radius: 30px;
    padding: 50px;
    margin-top: 50px;
}

.container {
    background-color: #dee0e1;
    /* background-color: rgb(206, 201, 201); */
    /* background: linear-gradient(yellow, yellowgreen); */
    width: 100%;
    height: 600px;
    box-shadow: 2px 20px 50px black;
    margin-top: 90px;
    display: flex;
    margin-bottom: 30px;
    border-radius: 25px;

}

.contact .container img {
    height: 100%;
    width: 35vw;
    margin-left: -20px;
    border-radius: 20px 0px 0px 20px;
}

.contact .container .second {
    height: 100px;
    width: 100%;
}

.contact .container .form {
    max-height: 100vh;
    width: 100%;
    /* background-color:; */
}

.contact .container .form form {
    /* width: 800px; */
    height: 500px;
    margin-top: 50px;
    /* font-size: 50px; */
    margin-left: 30px;
    display: inline-block;
    min-height: 1200px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}


.contact .container .form h1 {
    color: black;
    text-shadow: 2px 2px 5px black;


}

/* 
.contact .container .form h1::first-letter {
    color: steelblue;
    text-shadow: 2px 2px 5px black
} */

.contact .container .form form label {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.contact .container .form form input {
    width: 300px;
    background-color: white;
}

.contact .container .form form textarea {
    width: 30vw;
    padding-bottom: 40px;
    margin-bottom: 30px;
    background-color: white;
}

label,
input {
    display: inline-block;
    width: 300px;
}

textarea {
    resize: none;
}

button {
    background-color: black;
    color: white;
    width: 30vw;
    height: 7vh;
    margin-left: 6rem;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
}

button:hover {
    background-color: seagreen;
    color: black;
}