<div class="container">
    <div class="content1">
        <h1><span>"Data Science"</span> is suitable for you!</h1>
        <p><em>"<span>Hooray!</span>As per your selection, your heart🖤 says,
                datascience related courses are suitable for
                you"
                This is the future development field for the upcoming years.
                If you push yourself towards this field, then
                your career become so miracle.
                This field must have the hype for next 10 years and then also.
            </em>
        </p>
    </div>
    <div class="content">

        <h1><u>Details of Career</u></h1>
        <div class="description">
            <h3>job description</h3>
            <p>The data scientist job description involves fetching information from various sources and analyzing it to
                get a clear understanding of how an organization performs. </p>
            <p>The scientist uses statistical and analytical methods plus AI tools to automate specific processes within
                the organization and develop smart solutions to business challenges. After interpreting the data, they
                present the results in a clear and interesting way. </p>
            <p>The objective is to help the organization analyze trends to make better decisions. Thus, a good data
                scientist needs to have the right combination of technical, analytical, and communication skills. </p>
            <h3>Skills required</h3>
            <ul>
                <li>Programming skills(python,sql ..)</li>
                <li>Statistics</li>
                <li>Machine learning</li>
                <li>Strong Math skills</li>
                <li>Data Wrangling
                </li>
                <li>Data Visualization Tools</li>

            </ul>
            <h3>Salary</h3>
            <p>₹867,417 / year</p>
            <h3>companies</h3>
            <ul>
                <li>Numerator</li>
                <li>Cloudera</li>
                <li>Splunk</li>
                <li>SPINS</li>
                <li>AlteryX</li>
                <li>Civis Analytics</li>
                <li>Sisense</li>
                <li>Oracle</li>
            </ul>
        </div>
    </div>


</div>

<app-footer></app-footer>