<body>
    <div class="container mt-5">
        <div class="car ">
            <div class="car">
                <h1 class="text-center">Sign-up</h1>
            </div>
            <div class="card-body mx-auto">
                <form class="myform" [formGroup]="registerform">
                    <div class="field">
                        <label for="username" class="text-light">User Name :</label>
                        <input type="text" formControlName="username" id="username" class="form-control"
                            placeholder="Enter your Name here" minlength="5" />
                        <span class="text-danger" *ngIf="
                  registerform.controls['username'].touched &&
                  registerform.hasError('required', 'username')
                ">
                            *Name is required!!</span>
                        <span class="text-danger" *ngIf="registerform.hasError('minlength','username')">Username should
                            be atleast 3 letters</span>
                    </div>

                    <div class="field">
                        <label for="phone" class="text-light">Phone Number :</label>
                        <input type="tel" formControlName="phone" id="phone" class="form-control"
                            placeholder="Enter Mobile Number" pattern="[0-9]{10}" maxlength="10" />
                        <span class="text-danger" *ngIf="
                  registerform.controls['phone'].touched &&
                  registerform.hasError('required', 'phone')
                ">k
                            *Phone Number must be in 10 Digits!!</span>
                    </div>

                    <div class="field">
                        <label for="gmail" class="text-light">Gmail :</label>
                        <input type="text" formControlName="email" id="gmail" class="form-control"
                            placeholder="Enter your gmail" pattern="^([\w]*[\w\.]*(?!\.)@gmail.com)" />
                        <span class="text-danger" *ngIf="
                  registerform.controls['email'].touched &&
                  registerform.hasError('required', 'email')">
                            *Enter Valid Gmail!!</span>
                        <span class="text-danger" *ngIf="registerform.hasError('pattern','email')">Email pattern is
                            invalid</span>
                    </div>


                    <div class="field">
                        <label for="password" class="text-light">Password :</label>
                        <input type="password" formControlName="password" name="password" id="password"
                            class="form-control" placeholder="Enter your password" minlength="8" maxlength="10" />
                        <span class="text-danger" *ngIf="registerform.hasError('minlength','password')">Password should
                            be atleast 8 letters</span>
                    </div>




                    <div class="buttons text-center">
                        <button type="submit" class="btn btn-dark" (click)="register(this.registerform.value)"
                            [disabled]="!registerform.valid">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>