@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

.outer {
    height: 100vh;
}

body {
    background-color: rgb(44, 44, 44);
}

form {
    min-height: 100vh;
    margin-top: 80px;
}

h1 {
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-top: 30px;
    text-shadow: 2px 2px 5px black;

}

.field {
    width: 600px;
    margin-left: 300px;
    padding: 10px;
}

span {
    margin-left: 30px;
}

input {
    width: 400px;
}

label {
    color: yellow;
    text-shadow: 2px 2px 5px black;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

img {
    width: 30px;
    height: 30px;
}

button {
    margin-left: -50px;
    background-color: black;
    color: white;
}