<div class="container">
    <div class="header">
        <img src="../../images/careergif.gif" alt="careergif">

        <h1><span>D</span>iscover <span>Y</span>ourself!<br> and your <span>I</span>deal <span>C</span>areer</h1>

        <h3><em>"Get expert career guidance and counselling from career planning's experts to discover which field you
                will
                enjoy and excel in."</em></h3>
        <!-- <button [routerLink]="['/login']">Get Started!</button> -->

    </div>
    <div class="desc">
        <h2><em>India’s Most Reliable Career Discovery Platform</em></h2>
        <p><em>"Career planning promises to handhold you throughout your career discovery journey - from the time you
                sign up
                until
                you
                get into a career you love. We do this using a simple, four-step career guidance solution. Choose your
                perfect
                fit from 3 streams, 850+ courses and 12,000+ careers, and discover what will bring out the best in
                you."</em>
        </p>
    </div>
    <app-footer></app-footer>
</div>