.container {
    min-height: 100vh;
    background-color: skyblue;
    max-width: 1540px;
    width: 100%;

}



.header h1 span {
    color: #0072FF;
    text-shadow: 3px 2px 5px black;

}

.header h1 {
    padding-top: 50px;
    margin-top: 50px;
    text-align: center;
    color: black;
    font-size: 5rem;
    text-shadow: 3px 2px 5px black;
}

textarea {
    resize: none;
    width: 30rem;
    border-radius: 12px;
    margin-right: 30px
}

button {
    background-color: black;
    font-weight: 500;
    font-size: 30px;
    height: 50px;
    width: 140px;
    border-radius: 12px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: yellow;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h3 {
    padding: 50px;
    text-align: center;
    opacity: 0.8;
    height: 300px;
    color: black;
    margin-top: 20px;
}

h3 span {
    color: red;
}

img {
    width: 100%;
}

.header .employee {
    border-radius: 30px;
}

.desc {
    background-color: black;
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    color: white;

}

.desc h2 {
    color: white;
    text-shadow: 2px 2px 5px white;
    opacity: 1;
}

.cards {
    height: 30rem;
    width: 75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 40px;
}

.cards .flexy {
    padding-top: 20px;
    display: flex;
    align-items: center;

}

.cards .flexy .inside {
    padding-left: 30px;
}

.card {
    background-color: white;
    border-radius: 15px;
    height: 250px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1,
.card2,
.card3 {
    margin-left: 30px;
    box-shadow: 2px 2px 10px black;
}


.card1 img,
.card2 img {
    width: 100px;
    border-radius: 50%;
}

.card3 img {
    width: 100px;
    border-radius: 50%;

}

.cards p {
    padding: 20px;
    font-size: 17px;
}

h5 {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

h6 {
    opacity: 0.5;
    color: red;
    font-weight: 800;
}