<div class="container">
    <div class="header">
        <img src="../../images/careergif.gif" alt="careergif">
        <h3><em>"Get career counselling from <span>Vision's</span> career planning's software to discover which field
                you
                will
                enjoy and excellent in."
            </em></h3>
        <div class="email">
            <textarea></textarea>
            <button><a href="mailto: abc@example.com">Send</a></button>

        </div>
        <h3><em>
                "Vision's Career planning promises to handhold you throughout your career discovery journey - from the
                time you
                sign up
                until
                you
                get into a career you love. We do this using a simple, four-step career guidance solution. Choose your
                perfect
                fit from 3 streams, 850+ courses and 12,000+ careers, and discover what will bring out the best in
                you."
            </em></h3>
        <div class="self">
            <video id="video" width="100%" height="80%" controls autoplay loop subtitles="auto" description="video">
                <source src="../../images/selfevaluation.mp4" type="video/mp4">
            </video>
            <h1>
                <span>S</span>elf <span>E</span>valuation
            </h1>
            <h3><em>An employee self evaluation is a review of your performance and experience at work. It is an
                    opportunity for employees to honestly document and examine how they feel about their role and their
                    work. It is a self-diagnostic skill that helps employees monitor their own skills and work, identify
                    any vulnerabilities and strengths, and find solutions.

                    At its least effective, self evaluation is a task assigned to unenthused employees as part of an
                    annual performance review. But at its most effective, self evaluation can help employees build a
                    path for development at your organisation and align their personal and professional goals with their
                    employer.
                </em></h3>
        </div>
        <h1>Testimonials</h1>

    </div>

    <div class="cards">
        <div class="card card1">
            <div class="flexy">
                <img src="../../images/julia wan.avif" alt="juliana">
                <div class="inside">
                    <h5>Robert Downey</h5>
                    <h6>Verified User</h6>
                </div>
            </div>
            <div>
                <p>Vision's career planning software is ultimate.Its shoows what my heart felt.Thanks to Vision!</p>

            </div>
        </div>
        <div class="card card2">
            <div class="flexy">
                <img src="../../images/damita.jpg" alt="juliana">
                <div class="inside">
                    <h5>Damitasmeky</h5>
                    <h6>Verified User</h6>
                </div>
            </div>
            <p>Vision is marvelous, when im searching some websites its not showing this type of accuracy.</p>

        </div>
        <div class="card card3">
            <div class="flexy">
                <img src="../../images/afril.jpg" alt="juliana">
                <div class="inside">
                    <h5>Afril Bivisha</h5>
                    <h6>Verified User</h6>
                </div>
            </div>
            <p>Vision's career guidance is more reliable and also they kept their promises,thats all we needed.</p>

        </div>
    </div>

</div>
<app-footer></app-footer>