.container {
    min-height: 100vh;
    background-color: skyblue;
    max-width: 1440px;
}

.header {
    /* padding: 100px; */
    /* background-color: rgb(198, 204, 204); */
    overflow: hidden;

}

.header img {
    /* padding-top: 4px; */
    /* width: 100%; */
    height: 100vh;
    width: 100vw;
    border-radius: 30px;
}

.header span {
    color: #0072FF;
    text-shadow: 3px 2px 5px black;
    /* text-decoration-color: black; */

}

.header h1 {
    /* position: absolute;
    top: 30vh;
    left: 35rem; */
    padding-top: 30px;
    text-align: center;
    color: black;
    font-size: 5rem;
    text-shadow: 3px 2px 5px black;
    /* width: 100vw; */


}

button {

    background-color: black;
    border: none;
    color: #0072FF;
    font-size: 30px;
    width: 15rem;
    border-radius: 20px;
    font-weight: 500;
}

button:hover {
    background-color: white;
    color: black;
}


/* .header h1:hover {
    text-decoration: underline black;
    transition: .3s ease infinite;
    text-shadow: 3px 2px 5px black;
} */

.header h3 {
    padding: 50px;
    text-align: center;
    opacity: 0.8;
    height: 30vh;
    margin-top: 40px;
}