<div class="container-main">
    <h1>After 10th?</h1>
    <div class="content">
        <p>The <span>best time</span> to take a career aptitude test is after 10th and 12th, before you’ve chosen your
            career. That’s
            when things are less messy and the field is wide open to choose the relevant stream (science, commerce,
            arts, business etc) and right graduation degree.</p>
        <p>But It's not too late.Before enter into organization you can find your <span>strength</span> and what your
            heart
            says!.Then you can join in your known orgnization</p>
        <p>There are more career options after 10th and 12th before the broad career track has been chosen, than after
            graduation when the flexibility gets limited to the degree you get.</p>
        <p>But high school students are also more vulnerable. Subjected to parental and peer pressure, many end up
            taking careers just because they’ve been told to do so.</p>
        <p>Which is why we see the familiar and disturbing trend of parents pushing students to join entrance exams for
            several years. They assume sacrificing their childhood will someday bear fruit and get them happiness in
            life and career. But by the time students realize it, they’re stuck in the quicksand.</p>
        <p>
            Teens and students who take career tests after 10th and 12th are likely to be more aware of their choices.
        </p>
        <p>If you’ve gone beyond the high school, completed your college and already feel stuck in a bad career, it’s
            never too late. We have a free online aptitude test to help you get some basic answers.</p>
        <p>Our career finder for students and professionals has helped thousands of career explorers find the right
            career path for themselves. The result is shown as a simple chart and a list of careers, that easy to
            interpret and understand.</p>
    </div>
    <div class="content2">
        <h1>Career Finidng Test</h1>
        <img src="../../images/test.jpg" alt="test.jpg">
        <h2>Test Instructions</h2>
        <p>This test consists of some questions that you will have to rate on the basis of how much you would enjoy
            performing each on a scale of (1) strongly dislike (2) slightly dislike (3) neither like nor dislike (4)
            slightly enjoy (5) strongly enjoy. This test will help you choose a career path based on your personality
            type and your interests in a particular field or subject.</p>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Find your
            carrier!</button>

    </div>

    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">&times;</span>
        <form class="modal-content" action="post" [formGroup]="tenthform">
            <div class="container">
                <h1>Self Validation</h1>
                <p>*instruction:Please provide rating to the follwing languages.</p>
                <hr>
                <div class="field">
                    <label for="" class="text">Name:</label>
                    <input type="text" formControlName="uname" required>
                </div>
                <div class="field">
                    <label for="question" class="text">Do you want to continue your higer studies?</label>
                    <select formControlName="higher" required>
                        <option value="1" id="question">YES</option>
                        <option value="0" id="question">NO</option>
                    </select>

                </div>
                <div class="field">
                    <label for="question" class="text">Are you intrested in science?</label>
                    <select formControlName="science" required>
                        <option value="1" id="question">YES</option>
                        <option value="0" id="question">NO</option>
                    </select>

                </div>
                <div class="field">
                    <label for="question" class="text">Are you interested in Arts & Humanities?</label>
                    <select formControlName="arts" required>
                        <option value="1" id="question">YES</option>
                        <option value="0" id="question">NO</option>
                    </select>

                </div>
                <div class="field">
                    <label for="question" class="text">Are you interested in Commerce /Business stream?</label>
                    <select formControlName="commerce" required>
                        <option value="1" id="question">YES</option>
                        <option value="0" id="question">NO</option>
                    </select>
                </div>
                <div class="field">
                    <label for="question" class="text">Do you have any idea to start your carrrier via ITI?</label>
                    <select formControlName="iti" required>
                        <option value="1" id="question">YES</option>
                        <option value="0" id="question">NO</option>
                    </select>
                </div>
                <div class="field">
                    <label for="question" class="text">Are you interested in technical side?</label>
                    <select formControlName="tech" required>
                        <option value="1" id="question">YES</option>
                        <option value="0" id="question">NO</option>
                    </select>
                </div>
                <div class="field">
                    <label for="question" class="text">Are you interested in Diploma?</label>
                    <select formControlName="diploma" required>
                        <option value="1" id="question">YES</option>
                        <option value="0" id="question">NO</option>
                    </select>
                </div>
                <div class="field">
                    <label for="question" class="text">Are you interested in polytechnic?</label>
                    <select formControlName="polytechnic" required>
                        <option value="1" id="question">YES</option>
                        <option value="0" id="question">NO</option>
                    </select>
                </div>
                <div class="field">
                    <label for="question" class="text">Are you interested in Vocational Training?</label>
                    <select formControlName="vocation" required>
                        <option value="1" id="question">YES</option>
                        <option value="0" id="question">NO</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-dark" (click)="tenth(this.tenthform.value)">
                    FindYourself!
                </button>



            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</div>
<app-footer></app-footer>