body {
    background-color: skyblue;
    height: 91.5vh;
    margin-left: 0px;
    margin-right: 10px;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.container {
    /* background-color: rgb(116, 89, 54); */
    margin-top: 10%;
}

h1 {
    padding-top: 30px;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px black;
    text-transform: uppercase;
}

.card,
.card-1 {
    background: white;
    border: none;
    width: 450px;
    margin-bottom: 1.5rem;
}

.field,
.buttons {
    margin-top: 1rem;
}

form {
    width: 400px;
}