<div class="container">
    <div class="heading">
        <h1><em>Bookery</em></h1>
    </div>
    <div class="content">
        <p>Bookery is provided you the career related books and Tutorials to make your career growth.Its contain all the
            programming related videos and guides you.so make use of it and if you want any say something reach us at <a
                href="contact">Contact</a>.</p>
    </div>
    <h1 class="head">Blog-Tutorials</h1>
    <div class="blog-tutorials">
        <div class="cord">
            <img src="../../images/coursejava.jpg" alt="java.jpg">
            <h3> <a href="https://www.w3schools.com/java/">Java</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursehtml.jpg" alt="html.jpg">
            <h3> <a href="https://www.w3schools.com/html/">HTML</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursec.jpg" alt="c.jpg">
            <h3> <a href="https://www.w3schools.com/c/">C#</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursebtsp.jpg" alt="bootstrap.jpg">
            <h3><a href="https://www.w3schools.com/bootstrap/">Bootstrap</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursecp.jpg" alt="c.jpg">
            <h3> <a href="https://www.w3schools.com/c/">C programming</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursecpp.jpg" alt="cpp.jpg">
            <h3> <a href="https://www.w3schools.com/CPP/default.asp">C ++</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursegit.jpg" alt="git.jpg">
            <h3> <a href="https://www.w3schools.com/git/">git</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursejq.jpg" alt="jquery.jpg">
            <h3> <a href="https://www.w3schools.com/jquery/default.asp">J Query</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursejs.jpg" alt="Javascript.jpg">
            <h3> <a href="https://www.w3schools.com/js/">Javascript</a></h3>
        </div>

        <div class="cord">
            <img src="../../images/coursend.jpg" alt="nodejs.jpg">
            <h3> <a href="https://www.w3schools.com/nodejs/">Nodejs</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursepy.jpg" alt="python.jpg">
            <h3> <a href="https://www.w3schools.com/python/">Python</a></h3>
        </div>


        <div class="cord">
            <img src="../../images/coursereact.jpg" alt="rejs.jpg">
            <h3> <a href="https://www.w3schools.com/REACT/DEFAULT.ASP">React JS</a></h3>
        </div>

        <div class="cord">
            <img src="../../images/courseruby.jpg" alt="ruby.jpg">
            <h3> <a href="https://www.javatpoint.com/ruby-tutorial">Ruby</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursesass.jpg" alt="sass.jpg">
            <h3> <a href="https://www.w3schools.com/sass/">Sass</a></h3>
        </div>
        <div class="cord">
            <img src="../../images/coursesql.jpg" alt="Sql.jpg">
            <h3> <a href="https://www.w3schools.com/sql/">SQL</a></h3>
        </div>
    </div>
    <h1 class="head">Video Tutorials</h1>
    <div class="video-tutorials">
        <div>
            <img src="../../images/coursejas.jpg" alt="Javascript.jpg">
            <h3> <a href="https://www.youtube.com/watch?v=W6NZfCO5SIk">Learn Javascript</a></h3>
        </div>
        <div>
            <img src="../../images/courseror.jpg" alt="ruby.jpg">
            <h3> <a href="https://www.youtube.com/watch?v=t_ispmWmdjY">Learn ruby on rails</a></h3>
        </div>
        <div>
            <img src="../../images/courserea.jpg" alt="React.jpg">
            <h3> <a href="https://www.youtube.com/watch?v=Ke90Tje7VS0">React JS Tutorials</a></h3>
        </div>
        <div>
            <img src="../../images/coursepyth.jpg" alt="python.jpg">
            <h3> <a href="https://www.youtube.com/watch?v=kWEbNBXc2-Y">Python Tutorials</a></h3>
        </div>
        <div>
            <img src="../../images/coursejv.jpg" alt="Java.jpg">
            <h3> <a href="https://www.youtube.com/watch?v=aqHhpahguVY">Learn Java</a></h3>
        </div>
    </div>
</div>
<app-footer></app-footer>