<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <img src="../../images/icons8-calendar-100.png" alt="calendar">
        <h5><span>Booking</span> Successful!</h5>
        <p>You have Successfully booked a counselling meeting and your request was sent to the counsellor and he will
            get
            in touch soon</p>
        <!-- <button><a routerLink="['home']">Back</a></button> -->
        <button><a class="a1" [routerLink]="['/home']" routerLinkActive="active">Back</a></button>
    </div>
    <!-- <img src="../../images/icons8-tick-64 (1).png" alt="tick"> -->
</body>

</html>