<div class="container">
    <!-- <h1>Solution</h1> -->
    <div class="content">
        <div class="paraa">

            <h1>Free Career solutions for students & Graduates</h1>
        </div>
        <div class="parab">
            <h2>Best career options after <span>10th, 12th, college.</span></h2>
            <h3>Free online career finder quiz to explore career paths based on personality & interests.</h3>
            <img src="../../images/blog04.jpg" alt="solution">
        </div>
        <div class="parac">

            <p><span>Lion's Academy</span> provides you the better way of your life by giving career related solutions.
            </p>
            <p>Millions of people are unhappy in their jobs and they have no idea why. They try changing jobs, moving to
                another city and chasing companies that offer more money. And none of that seems to help.</p>
            <p>Why does that happen? And what’s the solution?</p>
            <p>Well, here’s a little secret. Your personality traits and interests play a big role in deciding how happy
                you
                will be in your career path. Most unhappy professionals realize this too late. They take education and
                career decisions based on factors ranging from parental and peer pressure, to chasing the hottest
                trending
                career option in the market.</p>
            <p>If you are confused about selecting the right career, or already stuck in a dead-end career, we’d
                strongly
                suggest taking our free career aptitude test.</p>
            <h1>How to find my perfect career?</h1>
            <img src="../../images/thinking.gif" style="margin-left: 300px;" alt="solution">
            <div class="span">
                <h1>The solution is<span>Find Yourself!</span></h1>

            </div>

        </div>
        <div class="intro">
            <p>As per the above quote, you can find yourslef by validating yourself.</p>
            <p>So we are here to help you. You use our career guiding software to find your interest and go on the
                path what your heart says,and finally you can find and feel yourself!</p>
        </div>
        <div class="parad">

            <h1>Free career aptitude test</h1>
            <p>A career aptitude test is a short, objective career explorer quiz that includes several multiple choice
                questions.</p>
            <p>It’s a simple but powerful way to dig deep enough to find out your personality and interests, and then
                use
                that data to find out a list of careers that would be the best match.</p>
            <img src="../../images/aptitude-skills.jpg" alt="solution">
            <div class="parae">
                <p>This test for finding your skills thorugh your heart.As per something, Your only speak out when its
                    feel
                    comfortable,and it can drive you to the peace.</p>
                <p>Its not like a techincal test to find mistakes. Its a way to find your's best profession by knowing
                    your
                    interests.</p>
            </div>


        </div>
        <div class="intro-second"></div>

    </div>
    <!-- <h1>L<span>et's</span> I<span>dentify</span> Y<span>ourself</span></h1> -->
    <h1>Let's Identify Yourself</h1>


    <div class="cardsc">
        <div class="card" style="width: 18rem; height: 23rem;">
            <img class="card-img-top" src="../../images/school students.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">10th students</h5>
                <p class="card-text">Choose your ideam stream and subjcts</p>
                <a [routerLink]="['/tenth']" class="btn btn-primary">Look here!</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; height: 23rem;">
            <img class="card-img-top" src="../../images/twelth.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">12th students</h5>
                <p class="card-text">Select your ideal course and careerto build the path</p>
                <a id="twelve" [routerLink]="['/twelth']" class="btn btn-primary">Choose here!</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; height: 23rem;">
            <img class="card-img-top" src="../../images/graduates.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Graduates</h5>
                <p class="card-text">Caught between choosing a specialisation and getting a job?</p>
                <a id="clg" [routerLink]="['/college']" class="btn btn-primary">Decide Here!</a>
            </div>
        </div>
    </div>
</div>